@import "./vars.css";

.loader {
    position: fixed;
    display: flex;
    top: 40%;
    flex-direction: column;
    align-items: center;
    left: 45%;
}
.loader h3 {
    color: #f3f3f3;
}
.spinner {
    border: 16px solid var(--dark-mid);
    border-top: 16px solid var(--primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }